services:
  api: &main_app
    build:
      context: .
      dockerfile: ./Dockerfile
    image: imago:${IMAGO_VERSION:-latest}
    restart: always
    env_file:
      - .env
    environment:
      IMAGO_HOST: 0.0.0.0
    ports:
      - "8000:8000"

